<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>studio427.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E5697331BD5D49300EC6F7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E5697471BD5D49400EC6F7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E5697521BD5D49400EC6F7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
